.image_card { transition: transform 0.5s; /* Animation */ } 
.image_card:hover { box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.8); 
-webkit-box-shadow: 2px 2px 2px 2px rgba(255, 255, 255, 0.8); 
transform: scale( 1.03);}